.button {
    align-items: center;
    border: 2px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-flex;
    font-family: var(--secondary_font);
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.23076;
    min-height: 36px;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
    @media(min-width: $sm) {
        font-size: 16px;
        height: 52px;
        line-height: 1.25;
    }
    @media(min-width: $fhd) {
        font-size: 18px;
        height: 64px;
        line-height: 1.33333;
    }

    &.disabled,
    &:disabled,
    &[data-disabled] {
        cursor: default;
        pointer-events: none;
    }

    &--primary {
        background-color: var(--black);
        color: #fff;

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--black_ex);
                color: #fff;
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: #F4F4F4;
            color: #C9CACA;
        }
    }

    &--secondary {
        background-color: #fff;
        border-color: var(--black);
        color: var(--black);

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: rgba(#728197, 0.1);
                border-color: var(--black_ex);
                color: var(--black_ex);
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: #fff;
            border-color: var(--dark_grey);
            color: var(--dark_grey);
        }
    }

    &--white_black {
        background-color: #fff;
        border-color: transparent;
        color: var(--black);

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--black);
                color: #fff;
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: #fff;
            border-color: var(--dark_grey);
            color: var(--dark_grey);
        }
    }

    &--w_330 {
        max-width: 330px;
        width: 100%;
    }
}