$xs: 480px;
$sm: 768px;
$md: 1024px;
$hd: 1280px;
$lg: 1400px;

:root {
    --black: #1A212B;
    --dark_grey: #728197;
    --stroke: #D4DFEA;
    --bg: #F7F8FB;
    --phone_bg: #F2F3F6;
    --container_padding: 16px;
}