$xs: 480px;
$sm: 768px;
$md: 1024px;
$hd: 1280px;
$lg: 1400px;
$fhd: 1900px;

:root {
    --black: #1A212B;
    --black_ex: #2E3A4B;
    --dark_grey: #728197;
    --stroke: #D4DFEA;
    --accent_grey: #F1F0F3;
    --line_grey: #C7CDD5;
    --bg: #F7F8FB;
    --phone_bg: #F2F3F6;
    --warning: #D83030;
    --red_rose: #DD3152;
    --blue: #368FFF;
    --container_padding: 16px;
    --header_min_height: 66px;
    --container_max_width: 1652px;
    --primary_font: 'Nunito', Arial, sans-serif;
    --secondary_font: 'Montserrat', Arial, sans-serif;
}