.catalog {
    &__inner {
        @media(min-width: $hd) {
            display: flex;
            gap: 24px;
        }
        @media(min-width: $fhd) {
            gap: 40px;
        }
    }

    &__filter-block {
        @media(max-width: $hd - 0.02px) {
            margin-bottom: 24px;
        }
        @media(min-width: $hd) {
            width: 370px;
        }

        & + .catalog__content {
            @media(min-width: $hd) {
                width: calc(100% - 370px - 24px);
            }
            @media(min-width: $fhd) {
                width: calc(100% - 370px - 40px);
            }

            .catalog__list {
                @media(min-width: $hd) {
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        }
    }

    &__filter-block-inner {
        @media(min-width: $hd) {
            position: sticky;
            top: 160px;
            z-index: 1;
        }
        @media(min-width: $fhd) {
            top: 180px;
        }
    }

    &__filter-title {
        align-items: center;
        display: flex;
        font-family: var(--secondary_font);
        font-size: 14px;
        font-weight: 600;
        gap: 8px;
        position: relative;
        z-index: 1;
        @media(min-width: $sm) {
            font-size: 16px;
        }
        @media(min-width: $fhd) {
            font-size: 20px;
            line-height: 1.2;
        }

        svg {
            fill: currentColor;
            height: 24px;
            width: 24px;
            @media(min-width: $fhd) {
                height: 32px;
                width: 32px;
            }
        }
    }

    &__content {
        width: 100%;
    }

    &__top-block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 24px;
        @media(min-width: $sm) {
            align-items: center;
            flex-direction: row;
            gap: 16px;
        }

        h1 {
            margin-right: auto;
            margin-bottom: 0;
        }
    }

    &__sorting {
        --gap: 8px;
        --cw: 360px;
        display: flex;
        gap: var(--gap);
        @media(min-width: $sm) {
            --gap: 16px;
        }
        @media(max-width: $hd - 0.02px) {
            flex-wrap: wrap;
            width: 100%;
        }
        @media(min-width: $hd) {
            margin-left: auto;
            width: calc(100% / 2 - 16px / 2);
        }

        .combobox {
            width: 100%;
            @media(max-width: $hd - 0.02px) {
                max-width: var(--cw);
            }
            @media(min-width: $fhd) {
                width: calc(100% / 2 - 16px / 2);
            }
        }
    }

    &__list {
        &--grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px 16px;
            @media(min-width: $md) {
                gap: 32px 16px;
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media(min-width: $hd) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }

    &__show-more-block {
        margin-top: 32px;
        text-align: center;
        @media(min-width: $sm) {
            margin-top: 48px;
        }
    }

    &__show-more {
        height: 40px;
        max-width: 360px;
        width: 100%;
        @media(min-width: $fhd) {
            max-width: 390px;
        }
    }
}

.filter {
    @media(max-width: $hd - 0.02px) {
        background-color: rgba(#000, 0.5);
        bottom: 0;
        display: none;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;
    }
    @media(min-width: $hd) {
        display: block !important;
    }

    &__inner {
        z-index: 1;
        @media(max-width: 414px - 0.02px) {
            padding-top: 60px;
        }
        @media(min-width: 414px) {
            max-width: 370px;
            z-index: 2;
        }
        @media(min-width: 414px) and (max-width: $hd - 0.02px) {
            padding-top: 40px;
        }
        @media(max-width: $hd - 0.02px) {
            background-color: #fff;
            height: 100%;
            overflow-y: auto;
            padding-left: var(--container_padding);
            padding-right: var(--container_padding);
            padding-bottom: 40px;
            position: relative;
            transition: transform 0.3s;
            transform: translateX(-100%);
            width: 100%;
        }

        &.is-open {
            @media(max-width: $hd - 0.02px) {
                transform: translateX(0);
            }
        }
    }

    &__closer {
        @include button-reset;
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        left: auto;
        position: absolute;
        right: 8px;
        top: 8px;
        width: 40px;
        z-index: 2;
        @media(min-width: 414px) {
            align-items: flex-start;
            justify-content: flex-end;
            left: 0;
            height: 100%;
            padding: 16px;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 1;
        }
        @media(min-width: $hd) {
            display: none;
        }

        &.is-active {
            background-color: #fff;
            @media(min-width: 414px) {
                background-color: transparent;
            }
        }

        svg {
            fill: var(--black);
            height: 24px;
            width: 24px;
            @media(min-width: 414px) {
                fill: #fff;
            }
        }
    }

    &__section {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__section-title {
        align-items: center;
        display: flex;
        font-family: var(--secondary_font);
        font-size: 18px;
        font-weight: 500;
        justify-content: space-between;
        line-height: 1.33333;
        margin-bottom: 0;
        position: relative;
        z-index: 1;
    }

    &__section-toggler {
        @include button-reset;
        @include active-area;
        height: 24px;
        width: 24px;

        &.is-active {
            svg {
                fill: var(--dark_grey);
                transform: rotate(45deg);
            }
        }

        svg {
            fill: var(--black);
            height: 24px;
            transition: transform 0.3s, fill 0.3s;
            width: 24px;
        }
    }

    &__section-dropdown {
        display: none;
        padding-top: 12px;
    }

    &__section-list {
        .checkbox {
            color: var(--black);

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    &__section-cut {
        display: none;
    }

    &__section-cut-toggler {
        @include button-reset;
        color: var(--black);
        cursor: pointer;
        padding: 10px 0;
        transition: color 0.3s;
        text-decoration: underline;
        @include hover {
            color: var(--dark_grey);
        }
    }

    &__buttons {
        display: flex;
        gap: 12px;
        margin-top: 32px;
    }

    &__apply {
        flex-grow: 1;
    }

    &__reset {
        align-items: center;
        background-color: transparent;
        border: none;
        border-radius: 0;
        color: var(--dark_grey);
        cursor: pointer;
        display: inline-flex;
        font-family: var(--secondary_font);
        font-size: 13px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.23076;
        min-height: 36px;
        padding: 8px 24px;
        text-decoration: underline;
        text-align: center;
        transition: all 0.3s;
        @media(min-width: $sm) {
            font-size: 16px;
            height: 52px;
            line-height: 1.25;
        }
        @media(min-width: $fhd) {
            font-size: 18px;
            height: 64px;
            line-height: 1.33333;
        }
        @include hover {
            color: var(--black);
        }
    }
}

.filter-opener {
    @include button-reset;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 40px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
    @media(min-width: $hd) {
        display: none;
    }
}

.price-inputs {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    &__item {
        align-items: center;
        display: flex;
        gap: 12px;
    }

    &__item-title {
        font-size: 18px;
    }

    .input-group__input {
        font-size: 18px;
        height: 44px;
        padding-top: 10px;
    }
}

.card {
    font-family: var(--secondary_font);
    font-weight: 500;

    &__image-block {
        margin-bottom: 8px;
        position: relative;
        z-index: 1;
        @media(min-width: $sm) {
            margin-bottom: 16px;
        }

        a,
        img {
            display: block;
        }

        a {
            overflow: hidden;
            @include hover {
                img {
                    transform: scale(1.02);
                }
            }
        }

        img {
            transition: transform 0.3s;
            transform: scale(1);
            width: 100%;
        }
    }

    &__favorite {
        @include button-reset;
        align-items: center;
        color: var(--black);
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 40px;
        left: auto;
        position: absolute;
        right: 0;
        top: 0;
        transition: color 0.3s;
        width: 40px;
        z-index: 1;

        &.is-active {
            svg {
                fill: var(--red_rose);
            }
        }

        &:not(.is-active) {
            @include hover {
                color: var(--dark_grey);
            }
        }

        svg {
            fill: currentColor;
            height: 24px;
            width: 24px;
            @media(min-width: $sm) {
                height: 32px;
                width: 32px;
            }
        }
    }

    &__labels {
        bottom: 0;
        display: flex;
        left: 0;
        position: absolute;
        top: auto;
        width: 100%;
        z-index: 1;
        @media(min-width: $sm) {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    &__label {
        font-size: 13px;
        line-height: 1.23076;
        padding: 4px 6px;
        @media(min-width: $sm) {
            font-size: 14px;
            line-height: 1.28571;
            padding: 10px;
        }

        &--type_1 {
            background-color: var(--red_rose);
            color: #fff;
        }

        &--type_2 {
            background-color: var(--black);
            color: #fff;
        }

        &--type_3 {
            background-color: var(--blue);
            color: #fff;
        }
    }

    &__info-block {
        @media(min-width: $sm) {
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 12px;
        }
    }

    &__info-block-inner {
        @media(min-width: $sm) {
            align-items: flex-start;
            display: flex;
            gap: 16px;
            justify-content: space-between;
        }
    }

    &__brand {
        font-size: 14px;
        line-height: 1.28571;
        margin-bottom: 4px;
        @media(min-width: $sm) {
            font-size: 15px;
            line-height: 1.33333;
        }

        a {
            text-decoration: none;
        }
    }

    &__title {
        color: var(--black_ex);
        font-size: 13px;
        line-height: 1.23076;
        margin-bottom: 8px;
        @media(min-width: $sm) {
            font-size: 14px;
            line-height: 1.28571;
            margin-bottom: 12px;
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &__price {
        font-size: 14px;
        line-height: 1.28571;
        font-weight: 600;
        @media(min-width: $sm) {
            font-size: 16px;
            line-height: 1.375;
        }
        @media(min-width: $fhd) {
            font-size: 20px;
            line-height: 1.2;
        }
    }

    &__to-cart {
        align-items: center;
        color: var(--black);
        display: none;
        height: 48px;
        justify-content: center;
        min-width: 48px;
        width: 48px;
        @media(min-width: $sm) {
            display: flex;
        }
        @include hover {
            color: var(--dark_grey);
        }

        svg {
            fill: currentColor;
            height: 32px;
            width: 32px;
        }
    }

    .combobox {
        margin-top: 12px;
        max-width: 185px;
    }
}

.catalog-brand {
    margin-bottom: 24px;
    @media(min-width: $hd) {
        --gap: 24px;
        align-items: center;
        display: flex;
        gap: var(--gap);
    }

    &__logo {
        margin-bottom: 24px;
        @media(min-width: $hd) {
            margin-bottom: 0;
            min-width: 370px;
            width: 370px;
        }

        img {
            display: block;
            @media(min-width: $hd) {
                width: 100%;
            }
        }
    }

    &__info {
        @media(min-width: $hd) {
            width: calc(100% - 370px - var(--gap));
        }

        h1 {
            @media(min-width: $fhd) {
                margin-bottom: 16px;
            }
        }
    }
}

.look {
    &:not(:last-child) {
        margin-bottom: 48px;
        @media(min-width: $hd) {
            margin-bottom: 96px;
        }
    }

    &--image_right {
        .look__image {
            @media(min-width: $md) {
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }

        .look__more-items {
            padding-left: 0;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px 16px;
        @media(min-width: $sm) {
            gap: 32px 16px;
        }
        @media(min-width: $md) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .card {
            &:nth-child(6) {
                @media(min-width: $md) {
                    display: none;
                }
            }
        }
    }

    &__image {
        @media(max-width: $sm - 0.02px) {
            grid-column: span 2;
        }
        @media(min-width: $md) {
            grid-column: span 2;
            grid-row: span 3;
        }
        @include hover {
            img {
                transform: scale(1.02);
            }
        }

        img,
        picture {
            display: block;
            @media(min-width: $md) {
                height: 100%;
            }
        }

        picture {
            overflow: hidden;
        }

        img {
            transition: transform 0.3s;
            transform: scale(1);
            width: 100%;
            @media(min-width: $md) {
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &__image-text {
        align-items: center;
        display: flex;
        font-family: var(--secondary_font);
        font-size: 13px;
        font-weight: 600;
        min-height: 40px;
        @media(min-width: $sm) {
            font-size: 16px;
            min-height: 44px;
        }
        @media(min-width: $md) {
            display: none;
        }
    }

    &__bottom {
        margin-top: 24px;
        @media(min-width: $sm) {
            margin-top: 32px;
        }
        @media(min-width: $md) {
            display: flex;
            gap: 16px;
            justify-content: space-between;
        }

        .button {
            height: 40px;
            width: 100%;
            @media(min-width: $sm) {
                height: 52px;
            }
            @media(min-width: $md) {
                width: calc(100% / 2 - 16px / 2);
            }
            @media(min-width: $fhd) {
                height: 64px;
            }
        }
    }

    &__all {
        align-items: center;
        display: flex;
        font-family: var(--secondary_font);
        font-size: 16px;
        font-weight: 600;
        height: 52px;
        @media(min-width: $fhd) {
            height: 64px;
            font-size: 18px;
        }
        @media(max-width: $md - 0.02px) {
            display: none;
        }
    }

    &__more-items {
        font-family: var(--secondary_font);
        font-size: 16px;
        font-weight: 500;
        margin-top: 8px;
        padding-left: calc(50% + 16px);
        @media(max-width: $md - 0.02px) {
            display: none;
        }
        @media(min-width: $fhd) {
            font-size: 18px;
        }

        a {
            color: var(--dark_grey);
        }
    }
}

.detail {
    @media(min-width: $md) {
        display: flex;
        gap: 16px;
    }

    &:not(:last-child) {
        margin-bottom: 48px;
        @media(min-width: $hd) {
            margin-bottom: 96px;
        }
    }

    &__images {
        @media(min-width: $md) {
            width: calc(100% / 3 * 2 + 16px - 16px / 2);
        }
    }

    &__info {
        @media(min-width: $md) {
            width: calc(100% / 3 - 16px / 2);
        }
    }

    &__brand {
        font-family: var(--secondary_font);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.28571;
        margin-bottom: 8px;
        @media(min-width: $sm) {
            font-size: 15px;
            line-height: 1.33333;
        }

        a {
            text-decoration: none;
        }
    }

    &__art {
        color: var(--dark_grey);
        font-size: 14px;
        line-height: 1.28571;
        margin-bottom: 12px;
        @media(min-width: $sm) {
            font-size: 16px;
            line-height: 1.3125;
        }
    }

    &__title {
        font-family: var(--secondary_font);
        font-size: 20px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 12px;
        @media(min-width: $sm) {
            font-size: 32px;
            line-height: 1.3125;
        }
    }

    &__price {
        font-family: var(--secondary_font);
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33333;
        margin-bottom: 24px;
        @media(min-width: $sm) {
            font-size: 24px;
        }
    }

    &__sizes {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 24px;
    }

    &__size {
        box-shadow: 0 0 0 1px inset var(--stroke);
        display: block;
        position: relative;
        z-index: 1;

        input {
            position: absolute;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            width: 1px;

            &:checked ~ .detail__size-inner {
                border-color: var(--black);
                box-shadow: none;
            }
        }
    }

    &__size-inner {
        align-items: center;
        border: 2px solid transparent;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        height: 40px;
        justify-content: center;
        padding: 8px 16px;
        @media(min-width: $sm) {
            font-size: 18px;
        }
    }

    &__button-block {
        display: flex;
        gap: 16px;
        margin-bottom: 24px;

        .button {
            height: 40px;
            flex-grow: 1;
            @media(min-width: $sm) {
                height: 64px;
            }
        }
    }

    &__fav {
        @include button-reset;
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: center;
        width: 40px;
        @media(min-width: $sm) {
            height: 64px;
            width: 64px;
        }

        &.is-active {
            svg {
                fill: var(--warning);
            }
        }

        svg {
            fill: var(--black);
            height: 24px;
            width: 24px;
            @media(min-width: $sm) {
                height: 32px;
                width: 32px;
            }
        }
    }

    &__accordion {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__accordion-title {
        align-items: center;
        display: flex;
        font-size: 15px;
        justify-content: space-between;
        margin-bottom: 0;
        position: relative;
        z-index: 1;
        @media(min-width: $sm) {
            font-size: 18px;
        }
    }

    &__accordion-toggler {
        @include button-reset;
        @include active-area;
        cursor: pointer;
        height: 24px;
        transition: color 0.3s;
        width: 24px;
        @include hover {
            color: var(--dark_grey);
        }

        &.is-active {
            color: var(--dark_grey);

            svg {
                transform: rotate(45deg);
            }
        }

        svg {
            fill: currentColor;
            height: 24px;
            transition: transform 0.3s;
            width: 24px;
        }
    }

    &__accordion-dropdown {
        display: none;
        font-size: 13px;
        padding-top: 8px;
    }
}