.shop-info {
    p {
        &:not(:last-child) {
            margin-bottom: 12px;

            &.big-text {
                margin-bottom: 10px;
            }
        }
    }

    &__prop {
        align-items: center;
        display: flex;
        gap: 4px;

        svg {
            fill: currentColor;
            height: 24px;
            min-width: 24px;
            width: 24px;
        }
    }
}