.float-block {
    background-color: #F5FAED;
    bottom: 0;
    font-size: 11px;
    font-weight: 700;
    height: 40px;
    left: 0;
    line-height: 1.36363;
    overflow: hidden;
    position: fixed;
    padding-top: 12px;
    padding-bottom: 12px;
    right: 0;
    text-align: center;
    top: auto;
    white-space: nowrap;
    z-index: 5;
    @media(min-width: $sm) {
        font-size: 13px;
        line-height: 1.23076;
    }
    @media(min-width: $hd) {
        font-size: 15px;
        height: 45px;
        line-height: 1.33333;
        margin-top: 96px;
        margin-bottom: 40px;
        position: sticky;
    }
}