.float-block {
    background-color: #fff;
    bottom: 0;
    font-size: 11px;
    font-weight: 700;
    height: 40px;
    left: 0;
    line-height: 1.36363;
    overflow: hidden;
    position: fixed;
    padding-top: 12px;
    padding-bottom: 12px;
    right: 0;
    text-align: center;
    top: auto;
    white-space: nowrap;
    z-index: 5;
    @media(min-width: $sm) {
        font-size: 13px;
        line-height: 1.23076;
    }
    @media(min-width: $hd) {
        font-size: 15px;
        height: 45px;
        line-height: 1.33333;
        margin-top: 96px;
        margin-bottom: 40px;
        position: sticky;
    }

    &--type_1 {
        background-color: #F5FAED;
    }

    &--type_2 {
        background-color: #F0F0F0;
    }

    &--type_3 {
        background-color: #FFF2E2;
    }

    .container {
        align-items: center;
        display: flex;
        gap: 20px;
        justify-content: center;
    }
}

.marquee {
    --el_width: -50%;
    animation: marquee 15s linear infinite;
    will-change: transform;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(var(--el_width));
    }
}