.header {
    background-color: #fff;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    @media(min-width: $hd) {
        min-height: var(--header_min_height);
    }

    &.is-out {
        transform: translateY(-100%);
    }

    &.is-scrolled {
        @media(min-width: $hd) {
            box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
        }
        position: fixed;
        transition: transform 0.2s;
    }

    &.is-open {
        & > .container {
            position: relative;
            z-index: 11;
        }
    }

    &__top {
        align-items: center;
        display: flex;
        gap: 24px;
        @media(max-width: $hd - 0.02px) {
            border-bottom: 1px solid var(--stroke);
            min-height: var(--header_min_height);
        }
        @media(min-width: $hd) {
            margin-bottom: 10px;
            padding-top: 10px;
        }
        @media(min-width: $fhd) {
            padding-top: 20px;
        }
    }

    &__logo {
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        @media(min-width: $hd) {
            width: 125px;
        }
        @media(min-width: $fhd) {
            height: 80px;
            width: 170px;
        }

        img,
        picture {
            display: block;
        }
    }

    &__phone {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.3;
        @media(max-width: $hd - 0.02px) {
            display: none;
        }

        a {
            text-decoration: none;
        }
    }

    &__button {
        @include button-reset;
        color: var(--black);
        display: block;
        height: 32px;
        transition: color 0.3s;
        text-decoration: none;
        width: 32px;
        @include hover {
            color: var(--dark_grey);
        }

        svg {
            fill: currentColor;
            height: 32px;
            width: 32px;
        }
    }

    &__search {
        @media(min-width: $hd) {
            order: 3;
        }
    }

    &__burger {
        @media(min-width: $hd) {
            display: none;
        }
    }

    &__cart,
    &__favorite,
    &__personal {
        @media(min-width: $hd) {
            order: 4;
        }
    }

    &__personal {
        @media(max-width: $hd - 0.02px) {
            display: none;
        }
    }

    &__bottom {
        align-items: center;
        display: flex;
        gap: 32px;
        justify-content: space-between;
        @media(max-width: $hd - 0.02px) {
            display: none;
        }
        @media(min-width: $hd) {
            padding-bottom: 15px;
        }
    }

    &__catalog-toggler {
        @include button-reset;
        align-items: center;
        color: var(--black);
        display: flex;
        gap: 8px;
        font-size: 18px;
        font-weight: 800;
        height: 40px;
        line-height: 1.33333;
        transition: color 0.3s;
        @include hover {
            color: var(--dark_grey);
        }

        svg {
            fill: currentColor;
            height: 32px;
            min-width: 32px;
            width: 32px;
        }
    }

    &__catalog {
        @include scrollbar;
        background-color: #fff;
        border-top: 1px solid var(--stroke);
        display: none;
        height: calc(100dvh - 132px);
        left: 0;
        overflow-y: auto;
        padding-top: 24px;
        padding-bottom: 40px;
        position: fixed;
        scrollbar-gutter: stable;
        top: 130px;
        right: 0;
        z-index: 10;
        @media(min-width: $fhd) {
            height: calc(100dvh - 170px);
            top: 170px;
        }
    }

    &__catalog-inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 255px;
        gap: 24px;
    }

    &__catalog-section {
        @include list-reset;
        font-size: 16px;
        line-height: 1.3125;
    }

    &__catalog-item {
        &:not(:last-child) {
            margin-bottom: 8px;
        }

        &--title {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.22222;

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    &__catalog-link {
        @include active-area;
        display: block;
        position: relative;
        text-decoration: none;
        z-index: 1;
    }

    &__catalog-image-link {
        display: block;
        font-family: var(--secondary_font);
        font-size: 14px;
        font-weight: 600;

        &:not(:last-child) {
            margin-bottom: 32px;
        }
        @include hover {
            img {
                transform: scale(1.02);
            }
        }

        span {
            display: block;
            margin-bottom: 12px;
            overflow: hidden;
        }

        img {
            display: block;
            transition: transform 0.3s;
            transform: scale(1);
            width: 100%;
        }
    }
}

.collapsing-menu {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 38%);

    &__nav {
        position: relative;

        &:not(.--jsfied) {
            @include scrollbar;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }

        .--hidden {
            display: none;
        }

        .-primary {
            @include list-reset;
            display: flex;

            > li {
                flex-grow: 1;

                > button,
                > a {
                    align-items: center;
                    display: flex;
                    gap: 8px;
                    font-size: 18px;
                    font-weight: 800;
                    height: 40px;
                    line-height: 1.33333;
                    padding: 8px 24px;
                    text-decoration: none;
                    transition: color 0.3s;
                    white-space: nowrap;
                }

                > button {
                    background-color: transparent;
                    border: none;
                    color: var(--black);
                    cursor: pointer;
                    @include hover {
                        color: var(--dark_grey);
                    }

                    svg {
                        fill: currentColor;
                        height: 20px;
                        width: 20px;
                    }
                }
            }

            .-more {
                > button span {
                    display: inline-block;
                    transition: transform 0.2s;
                }
            }
        }

        &.--show-secondary .-primary {
            .-more > button svg {
                transform: rotate(180deg);
            }
        }

        .-secondary {
            @include list-reset;
            box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
            background-color: #fff;
            max-width: 100%;
            min-width: 10em;
            display: none;
            position: absolute;
            padding: 10px 16px;
            top: 100%;
            right: 0;
            animation: nav-secondary 0.2s;

            a,
            button {
                display: block;
                font-size: 16px;
                line-height: 1.3125;
                padding-top: 6px;
                padding-bottom: 6px;
                text-decoration: none;
            }
        }

        &.--show-secondary .-secondary {
            display: block;
        }
    }
}
@keyframes nav-secondary {
    0% {
        opacity: 0;
        transform: translateY(-1em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.mobile-menu {
    background-color: #fff;
    display: none;
    height: 100dvh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;

    &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__top {
        align-items: center;
        border-bottom: 1px solid var(--stroke);
        display: flex;
        gap: 24px;
        justify-content: flex-end;
        min-height: var(--header_min_height);
        margin-left: var(--container_padding);
        margin-right: var(--container_padding);
        margin-bottom: 8px;
    }

    &__closer {
        @include button-reset;
        color: var(--black);
        display: block;
        height: 32px;
        transition: color 0.3s;
        text-decoration: none;
        width: 32px;
        @include hover {
            color: var(--dark_grey);
        }

        svg {
            fill: currentColor;
            height: 32px;
            width: 32px;
        }
    }

    &__bottom {
        flex-grow: 1;
        overflow-y: auto;
        position: relative;
        z-index: 1;

        &.is-overflow {
            overflow: hidden;
        }
    }

    &__contacts {
        margin-top: 20px;
        padding-bottom: 20px;
        padding-left: var(--container_padding);
        padding-right: var(--container_padding);

        .contact-phone {
            margin-bottom: 24px;
        }
    }
}

.m-menu {
    font-size: 15px;
    line-height: 1.33333;

    &__section {
        &--type_1 {
            padding-top: 8px;
            padding-bottom: 8px;
            position: relative;
            z-index: 1;

            &::after,
            &::before {
                border-top: 1px solid var(--stroke);
                content: '';
                left: var(--container_padding);
                position: absolute;
                right: var(--container_padding);
                z-index: 1;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
                top: auto;
            }
        }

        &--type_2 {
            background-color: #fff;
            display: none;
            height: 100%;
            left: 0;
            overflow-y: auto;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 2;

            &.is-open {
                display: block;
            }
        }

        &.is-overflow {
            height: 100%;
            overflow: hidden;
        }
    }

    &__item {
        @include button-reset;
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: 8px;
        min-height: 44px;
        padding-left: var(--container_padding);
        padding-right: var(--container_padding);
        text-align: left;
        width: 100%;

        svg {
            fill: currentColor;
            height: 20px;
            min-width: 20px;
            width: 20px;
        }

        &--type_1 {
            justify-content: space-between;
            text-decoration: none;
        }

        &--type_2 {
            font-weight: 700;
        }

        &--type_3 {
            font-weight: 700;
            text-decoration: underline;
        }
    }
}

.search {
    @include scrollbar;
    bottom: 0;
    display: none;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11;

    &__bg {
        background-color: rgba(#000, 0.4);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    &__inner {
        background-color: #fff;
        left: 0;
        padding: 16px 0 24px;
        position: absolute;
        top: 0;
        transition: transform 0.3s;
        transform: translateY(-100%);
        width: 100%;
        z-index: 1;
        @media(min-width: $md) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &.is-open {
            transform: translateY(0);
        }
    }

    &__container {
        @media(min-width: $md) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 40px;
        }
    }

    &__form-block {
        flex-grow: 1;
        @media(max-width: $md - 0.02px) {
            margin-bottom: 24px;
        }
        @media(min-width: $md) {
            max-width: 530px;
            width: calc(32.7% - 40px / 2);
        }
    }

    &__form-top {
        margin-bottom: 12px;
        @media(min-width: $sm) {
            align-items: center;
            display: flex;
            flex-direction: row-reverse;
            gap: 16px;
        }
        @media(min-width: $fhd) {
            margin-bottom: 24px;
        }
    }

    &__closer {
        @include button-reset;
        @include active-area;
        align-items: center;
        cursor: pointer;
        color: var(--dark_grey);
        display: flex;
        font-family: var(--secondary_font);
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        position: relative;
        transition: color 0.3s;
        text-decoration: underline;
        z-index: 1;
        @media(max-width: $sm - 0.02px) {
            height: 32px;
            margin-bottom: 8px;
            margin-left: auto;
            width: 32px;
        }
        @media(min-width: $sm) {
            height: 44px;
            padding: 10px 8px;
        }
        @media(min-width: $fhd) {
            font-size: 19px;
        }
        @include hover {
            color: var(--black);
        }

        span {
            @media(max-width: $sm - 0.02px) {
                display: none;
            }
        }

        svg {
            fill: var(--black);
            height: 24px;
            width: 24px;
            @media(min-width: $sm) {
                display: none;
            }
        }
    }

    &__form {
        flex-grow: 1;
        position: relative;
        z-index: 1;

        .input-group__input,
        .input-group__label {
            padding-left: 56px;
        }
    }

    &__submit {
        @include button-reset;
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 100%;
        left: 0;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 56px;
        z-index: 1;

        svg {
            fill: var(--black);
            height: 32px;
            width: 32px;
        }
    }

    &__pre-vars {
        display: flex;
        gap: 12px;
        margin-bottom: 24px;
        @media(max-width: $md - 0.02px) {
            margin-left: calc(0.01px - var(--container_padding));
            margin-right: calc(0.01px - var(--container_padding));
            padding-left: var(--container_padding);
            padding-right: var(--container_padding);
            overflow-x: auto;
        }
        @media(min-width: $md) {
            flex-wrap: wrap;
        }
        @media(min-width: $lg) {
            margin-bottom: 40px;
        }
        @media(min-width: $fhd) {
            gap: 16px;
            margin-bottom: 64px;
        }
    }

    &__pre-var {
        border: 2px solid var(--stroke);
        background-color: #fff;
        cursor: pointer;
        font-size: 15px;
        height: 40px;
        padding: 8px 20px;
        transition: border-color 0.3s;
        @include hover {
            border-color: var(--black);
        }
    }

    &__vars-title {
        color: var(--dark_grey);
        font-family: var(--secondary_font);
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 12px;
        @media(min-width: $lg) {
            font-size: 18px;
            margin-bottom: 20px;
        }
        @media(min-width: $fhd) {
            font-size: 20px;
        }
    }

    &__vars {
        &:not(:last-child) {
            margin-bottom: 24px;
            @media(min-width: $lg) {
                margin-bottom: 40px;
            }
            @media(min-width: $fhd) {
                margin-bottom: 64px;
            }
        }
    }

    &__var {
        @include button-reset;
        @include active-area;
        align-items: center;
        color: var(--black);
        cursor: pointer;
        display: flex;
        font-size: 15px;
        gap: 16px;
        justify-content: space-between;
        position: relative;
        transition: color 0.3s;
        text-align: left;
        width: 100%;
        text-decoration: none;
        z-index: 1;
        @media(min-width: $lg) {
            font-size: 16px;
        }
        @media(min-width: $fhd) {
            font-size: 18px;
        }
        @include hover {
            color: var(--dark_grey);

            svg {
                fill: var(--black);
            }
        }

        &:not(:last-child) {
            margin-bottom: 16px;
            @media(min-width: $fhd) {
                margin-bottom: 20px;
            }
        }

        svg {
            fill: var(--dark_grey);
            height: 24px;
            transition: fill 0.3s;
            width: 24px;
        }
    }

    &__results-block {
        flex-grow: 1;
        @media(min-width: $md) {
            max-width: 800px;
            width: calc(49.4% - 40px / 2);
        }

        .button {
            margin-top: 24px;
            width: 100%;
            @media(min-width: $fhd) {
                margin-top: 32px;
            }
        }
    }

    &__results-title {
        font-family: var(--secondary_font);
        font-weight: 500;
        margin-bottom: 12px;
        @media(min-width: $md) {
            align-items: center;
            display: flex;
            font-size: 16px;
            height: 56px;
            margin-bottom: 0;
        }
        @media(min-width: $lg) {
            font-size: 18px;
        }
        @media(min-width: $fhd) {
            font-size: 22px;
            height: 64px;
        }
    }

    &__results-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        .combobox__list {
            max-height: 100px;
        }
    }
}