<footer class="footer">
    <div class="container">
        <div class="footer-form">
            <div class="footer-form__inner">
                <h2 class="footer-form__title">Специальные предложения от&nbsp;Atelier</h2>

                <p class="footer-form__text">Введите свой номер, чтобы получать скидки и&nbsp;уведомления о&nbsp;новинках</p>

                <div class="footer-form__form-block">
                    <form class="footer-form__form" action="">
                        <div class="input-group">
                            <div class="input-group__inner">
                                <div class="input-group__input-container">
                                    <input id="subscribe" class="js-input-group__input js-phone-mask input-group__input" type="text" name="subscribe" value="">
                                    <label class="input-group__label" for="subscribe">Мобильный телефон</label>
                                </div>
                            </div>
                        </div>

                        <button class="footer-form__submit" type="submit" title="Отправить">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#send_arrow_icon" />
                            </svg>
                        </button>
                    </form>

                    <div class="footer-form__note">
                        <p>Оставляя свои данные в любой форме обратной связи на сайте atelierkids.ru, вы&nbsp;соглашаетесь<br> с&nbsp;<a href="#">пользовательским соглашением</a> и <a href="#">политикой обработки данных</a></p>
                    </div>
                </div>
            </div>

            <div class="footer-form__logo-block">
                <div class="footer-form__logo">
                    <img src="images/logo.png" srcset="images/logo@2x.png 2x" alt="ATELIER">
                </div>

                <div class="footer-form__phone-block">
                    <a class="footer-phone" href="tel:+7 (928)-201-62-62">+7 (928)-201-62-62</a>

                    <div class="social-links">
                        <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer" title="Наш Whatsapp">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#wa_icon" />
                            </svg>
                        </a>

                        <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer" title="Наш Telegram">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#tg_icon" />
                            </svg>
                        </a>

                        <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer" title="Мы Вконтакте">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#vk_icon" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__center">
            <div class="footer__shops">
                <h4>Магазины</h4>

                <div class="footer__shops-list">
                    <div class="shop-info">
                        <p class="big-text">Краснодар</p>
                        <p>
                            <a class="phone" href="tel:+79183289999">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#phone_icon" />
                                </svg>
                                <span>8 (918)-328-99-99</span>
                            </a>
                        </p>

                        <p class="shop-info__prop">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#pin_icon" />
                            </svg>
                            <span>г.&nbsp;Краснодар, ул.&nbsp;Чапаева,&nbsp;42</span>
                        </p>

                        <p class="shop-info__prop">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#clock_icon" />
                            </svg>
                            <span>с 10:00 до 20:00</span>
                        </p>
                    </div>

                    <div class="shop-info">
                        <p class="big-text">Ростов-на-Дону</p>
                        <p>
                            <a class="phone" href="tel:+79896310665">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#phone_icon" />
                                </svg>
                                <span>8 (989)-631-06-65</span>
                            </a>
                        </p>

                        <p class="shop-info__prop">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#pin_icon" />
                            </svg>
                            <span>г.&nbsp;Ростов-на-Дону, пр.&nbsp;Чехова,&nbsp;76</span>
                        </p>

                        <p class="shop-info__prop">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#clock_icon" />
                            </svg>
                            <span>с 10:00 до 21:00</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer__menu">
                <div class="footer__menu-item footer-menu">
                    <h4 class="footer-menu__title">
                        <span>Каталог</span>
                        <button class="js-footer-menu-toggler footer-menu__toggler" type="button">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#plus_icon" />
                            </svg>
                        </button>
                    </h4>

                    <ul class="footer-menu__list">
                        <li><a href="#">Новинки</a></li>
                        <li><a href="#">Мальчики</a></li>
                        <li><a href="#">Девочки</a></li>
                        <li><a href="#">Малыши</a></li>
                    </ul>
                </div>

                <div class="footer__menu-item footer-menu">
                    <h4 class="footer-menu__title">
                        <span>Текстиль для дома</span>
                        <button class="js-footer-menu-toggler footer-menu__toggler" type="button">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#plus_icon" />
                            </svg>
                        </button>
                    </h4>

                    <ul class="footer-menu__list">
                        <li><a href="#">Постельное белье</a></li>
                        <li><a href="#">Пледы</a></li>
                        <li><a href="#">Полотенца</a></li>
                        <li><a href="#">Весь текстиль</a></li>
                    </ul>
                </div>

                <div class="footer__menu-item footer-menu">
                    <h4 class="footer-menu__title">
                        <span>Интернет-магазин</span>
                        <button class="js-footer-menu-toggler footer-menu__toggler" type="button">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#plus_icon" />
                            </svg>
                        </button>
                    </h4>

                    <ul class="footer-menu__list">
                        <li><a href="#">Оплата</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Возврат товара</a></li>
                        <li><a href="#">Бренды</a></li>
                    </ul>
                </div>

                <div class="footer__menu-item footer-menu">
                    <h4 class="footer-menu__title">
                        <span>Atelier</span>
                        <button class="js-footer-menu-toggler footer-menu__toggler" type="button">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#plus_icon" />
                            </svg>
                        </button>
                    </h4>

                    <ul class="footer-menu__list">
                        <li><a href="#">Реквизиты</a></li>
                        <li><a href="#">О бутике</a></li>
                        <li><a href="#">Партнёры</a></li>
                        <li><a href="#">Мероприятия</a></li>
                    </ul>
                </div>

                <div class="footer__menu-item footer__menu-contacts">
                    <a class="footer-phone" href="tel:+7 (928)-201-62-62">+7 (928)-201-62-62</a>

                    <div class="social-links">
                        <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer" title="Наш Whatsapp">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#wa_icon" />
                            </svg>
                        </a>

                        <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer" title="Наш Telegram">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#tg_icon" />
                            </svg>
                        </a>

                        <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer" title="Мы Вконтакте">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#vk_icon" />
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="footer__menu-item footer-menu">
                    <h4 class="footer-menu__title"><a href="#">Образы</a></h4>
                </div>

                <div class="footer__menu-item footer-menu">
                    <h4 class="footer-menu__title"><a href="#">Подарочные карты</a></h4>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <ul class="footer__bottom-menu">
                <li><a href="#">Договор оферты</a></li>
                <li><a href="#">Политика конфиденциальности</a></li>
            </ul>

            <div class="footer__copyright">2010–2025 © интернет-магазин детской<br> одежды «Ателье Детства»</div>
        </div>
    </div>
</footer>