<header class="header compensate-for-scrollbar">
    <div class="container">
        <div class="header__top">
            <div class="header__phone">
                <a href="tel:+79282016262">+7 (928)-201-62-62</a>
            </div>

            <button class="header__burger header__button" type="button" title="Меню">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#burger_icon" />
                </svg>
            </button>

            <a class="header__search header__button" href="#" title="Поиск">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#search_icon" />
                </svg>
            </a>

            <a class="header__logo" href="#">
                <picture>
                    <source srcset="images/logo.png, images/logo@2x.png 2x" media="(min-width: 1280px)">
                    <img src="images/mobile_logo.svg" alt="ATELIER">
                </picture>
            </a>

            <a class="header__favorite header__button" href="#" title="Избранное">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#fav_icon" />
                </svg>
            </a>

            <a class="header__cart header__button" href="#" title="Корзина">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#cart_icon" />
                </svg>
            </a>

            <a class="header__personal header__button" href="#" title="Личный кабинет">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#user_icon" />
                </svg>
            </a>
        </div>

        <div class="header__bottom">
            <button class="js-header-catalog-toggler header__catalog-toggler" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#catalog_icon" />
                </svg>
                <span>Каталог</span>
            </button>

            <div class="collapsing-menu">
                <nav class="collapsing-menu__nav">
                    <ul class="-primary">
                        <li>
                            <a href="#">Девочки</a>
                        </li>
                        <li>
                            <a href="#">Мальчики</a>
                        </li>
                        <li>
                            <a href="#">Текстиль</a>
                        </li>
                        <li>
                            <a href="#">Образы</a>
                        </li>
                        <li>
                            <a href="#">Доставка</a>
                        </li>
                        <li>
                            <a href="#">О нас</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                        <li>
                            <a href="#">Бренды</a>
                        </li>
                        <li>
                            <a href="#">Подарочные сертификаты</a>
                        </li>
                        <li>
                            <a href="#">Оплата</a>
                        </li>
                        <li>
                            <a href="#">Возврат товара</a>
                        </li>
                        <li>
                            <a href="#">Реквизиты</a>
                        </li>
                        <li>
                            <a href="#">Партнёры</a>
                        </li>
                        <li>
                            <a href="#">Мероприятия</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="social-links">
                <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer" title="Наш Whatsapp">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#wa_icon" />
                    </svg>
                </a>

                <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer" title="Наш Telegram">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#tg_icon" />
                    </svg>
                </a>

                <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer" title="Мы Вконтакте">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#vk_icon" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="header__catalog"></div>
</header>